<!-- if dst ==appsink, flow to topic  -->

<launch>
  <!-- <arg name="dst_1" default="/home/nextaged/moonshot_ws/src/moonshot_demo_sensor/record_audio/output1.mp3"/> -->
  <arg name="dst_1" default="appsink"/>
  <arg name="device_1" default="hw:1,0"/>
  <arg name="format" default="wave"/>
  <arg name="bitrate" default="128"/>
  <arg name="channels" default="1"/>
  <arg name="depth" default="16"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="S16LE"/>
  <arg name="ns_1" default="audio1"/>
  <arg name="audio_topic_1" default="audio"/>

  <!-- <arg name="dst_2" default="/home/nextaged/moonshot_ws/src/moonshot_demo_sensor/record_audio/output2.mp3"/> -->
  <arg name="dst_2" default="appsink"/>
  <arg name="device_2" default="hw:3,0"/>
  <arg name="ns_2" default="audio2"/>
  <arg name="audio_topic_2" default="audio"/>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst_1)"/>
    <arg name="device" value="$(arg device_1)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns_1)"/>
    <arg name="audio_topic" value="$(arg audio_topic_1)"/>
  </include>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst_2)"/>
    <arg name="device" value="$(arg device_2)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns_2)"/>
    <arg name="audio_topic" value="$(arg audio_topic_2)"/>
  </include>

</launch>
