<launch>
  <arg name="dst_1" default="/home/namiko/catkin_ws/src/audio_common/recorded_data/output1.mp3"/>
  <arg name="device_1" default="hw:2,0"/>
  <arg name="format" default="wave"/>
  <arg name="bitrate" default="128"/>
  <arg name="channels" default="1"/>
  <arg name="depth" default="16"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="sample_format" default="S16LE"/>
  <arg name="ns_1" default="audio1"/>
  <arg name="audio_topic_1" default="audio"/>

  <arg name="dst_2" default="/home/namiko/catkin_ws/src/audio_common/recorded_data/output2.mp3"/>
  <arg name="device_2" default="hw:3,0"/>
  <arg name="ns_2" default="audio2"/>
  <arg name="audio_topic_2" default="audio"/>

  <arg name="dst_3" default="/home/namiko/catkin_ws/src/audio_common/recorded_data/output3.mp3"/>
  <arg name="device_3" default="hw:4,0"/>
  <arg name="ns_3" default="audio3"/>
  <arg name="audio_topic_3" default="audio"/>

  <arg name="dst_4" default="/home/namiko/catkin_ws/src/audio_common/recorded_data/output4.mp3"/>
  <arg name="device_4" default="hw:5,0"/>
  <arg name="ns_4" default="audio4"/>
  <arg name="audio_topic_4" default="audio"/>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst_1)"/>
    <arg name="device" value="$(arg device_1)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns_1)"/>
    <arg name="audio_topic" value="$(arg audio_topic_1)"/>
  </include>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst_2)"/>
    <arg name="device" value="$(arg device_2)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns_2)"/>
    <arg name="audio_topic" value="$(arg audio_topic_2)"/>
  </include>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst_3)"/>
    <arg name="device" value="$(arg device_3)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns_3)"/>
    <arg name="audio_topic" value="$(arg audio_topic_3)"/>
  </include>

  <include file="$(find audio_capture)/launch/capture.launch">
    <arg name="dst" value="$(arg dst_4)"/>
    <arg name="device" value="$(arg device_4)"/>
    <arg name="format" value="$(arg format)"/>
    <arg name="bitrate" value="$(arg bitrate)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="depth" value="$(arg depth)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="sample_format" value="$(arg sample_format)"/>
    <arg name="ns" value="$(arg ns_4)"/>
    <arg name="audio_topic" value="$(arg audio_topic_4)"/>
  </include>
 
</launch>
